


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> logo navbar</h1>
    <a href="{% url 'customers' %}">Home</a>
    <a href="{% url 'customers'%}">Customer</a>
    <!-- <a href="/customers/">Customers</a> -->
    <a href="/flight_companies/">Flight_companies</a>
    <a href="/users_management/">users_management</a>
    <hr>
</body>
</html>